@font-face {
    src: url("/fonts/Abel-Regular.ttf");
    font-family: "Abel";
}

* {
    margin: 0;
    padding: 0;
    color: #ddd;
    box-sizing: border-box;
    font-family: "Abel";
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

body {
    overflow: hidden;
}

.app {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #0b090c;
}

.activity-meter {
    position: absolute;
    top: 0;
    right: 5px;
    max-height: 100px;
    min-height: 100px;
    display: flex;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 0 0 0 5px;
    background-color: #0b090c;
}

.activity-meter svg {
    margin: 15px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.activity-meter__icon-box {
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 5px;
}

.activity-meter__icon-box:hover {
    background: rgba(255, 255, 255, 0.05);
}

.activity-meter__display {
    width: 151px;
    display: flex;
    flex-direction: column;
}

.activity-meter__time {
    width: 100%;
    height: 100%;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.activity-meter__time div {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ddd;
}

.activity-meter__time-and-activity {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.activity-meter__activity-name {
    font-size: 18px;
}

.activity-meter__btns {
    border-top: 1px solid #ddd;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    border-left: 1px solid #ddd;
}

.activity-meter__btns button:last-child {
    border-left: 1px solid #ddd;
}

.activity-meter__btns button {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    font-size: 28px;
}

.activity-meter__btns button:hover {
    background: rgba(255, 255, 255, 0.05);
}

.activity-meter__settings {
    position: absolute;
    display: none;
    top: 100px;
    right: 5px;
    min-width: 150px;
    background: #0b090c;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom-left-radius: 5px;
}

.activity-meter__settings ul {
    width: 150px;
    list-style: none;
}

.activity-meter__settings ul li {
    width: 150px;
    font-size: 16px;
    text-align: center;
}

.activity-meter__settings ul li:hover {
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.activity-meter__activities {
    position: absolute;
    display: none;
    width: 150px;
    top: 150px;
    right: 150px;
    background: #0b090c;
    border: 1px solid #ddd;
}

@keyframes activity-meter-fade {
    0% { 
        opacity: 1; 
        width: 150px;
    } 
    50% {
        opacity: 0;
        width: 150px; 
    }
    100% {
        opacity: 0;
        width: 0;
    }
}

@-webkit-keyframes activity-meter-fade {
    0% { 
        opacity: 1; 
        width: 150px;
    } 
    50% {
        opacity: 0;
        width: 150px; 
    }
    100% {
        opacity: 0;
        width: 0;
    }
}